html{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.header{
    /* background-color: brown; */
    width: 100%;
    height: 116px;
    background: rgb(24, 158, 255);
}
.logo{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    height: 40px;
}
img.logo-left {
    width: 50px;
    height: 33px;
}
img.logo-right {
    width: 87px;
    height: 33px;
}
li{
    list-style: none;
}
.header-top{
    padding-top: 10px;
    display: flex;
    height: 66px;
}
.function{
    display: flex;
    height: 40px;
}
.fn{
    margin-top: 5px;
    margin-left: 15px;
    width: 105px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}
i{
    font-size: 22px;
    color: white;
}

.search{
    /* flex-grow: 1; */
    height: 40px;
    background-color: blue;

    color: #edeef2;
}
.search input{
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    width: 420px;
    border: none;
    padding-left: 20px;
}
.search button{
    height: 40px;
    width: 105px;
    margin-left: 0;
    border: none;
    border-radius: 0px 4px 4px 0px;
    font-size: 15px;
    background-color: #edeef2;    
}
button i{
    color: black;
    font-size: 15px;
}
.search-layout{
    width: auto;
    display: flex;
}
.header-bottom{
   height: 20px;
margin-bottom: 20px;
    
}
.header-bottom .function{
    flex-basis: auto;
}
.menubar{
    width: 245px;
    margin-left: 0;
}
.location{
    width: 220px;
}
.product-seen{
    width: 175px;
}

span{
    font-size: 13px;
    color: white;
    display: block;
    margin-left: 10px;
    margin-top: 4px;
}
.cart{
    border: oldlace 2px solid;
    width: 143px;
    padding-left: 10px;
}
span.number{
    background-color: yellow;
    color: black;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 2px;
    padding-left: 6px;
    padding-top: 3px;
    margin-top: 0px;
}
.lines span{
    margin: -4px 0px 0px 10px;
}
.image1 img{
    width: 25px;
    height: 31px;
}
.shipping img{
    width: 58px;
    height: 28px;
}
.shipping{
    margin-left: 40px;
    flex-grow: 1;
}
.func .fn{
    margin-left: 23px;
}
.func{
    margin-left: 20px;
}